body{
  margin: 0;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

#home{
  padding: 100px;
  color: #fff;
  backdrop-filter: blur(5px);
  background: inherit;
  border-radius: 20px;
}